@inject SignInManager<ApplicationUser> SignInManager

@model IEnumerable<Stat>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Player)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Batting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bowling)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Player.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Batting)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bowling)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-controller="Stats" asp-action="Edit" asp-route-id="@item.Id">Edit</a> @:|
                        <a asp-controller="Stats" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
