@inject SignInManager<ApplicationUser> SignInManager

@model Ultimates_Cricket.Models.Game

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GameNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayerOfMatch)
        </dt>
        @if (Model.PlayerOfMatch != null)
        {      
            <dd>
                @Html.DisplayFor(model => model.PlayerOfMatch.Name)
            </dd>
        }
        else
        {
            <dd>
                Not Assigned
            </dd>
        }
    </dl>

    @if (Model.Stats != null && Model.Stats.Count > 0)
    {
        <hr />
        <h4>Player Stats</h4>
        @Html.Partial("_StatsListPartial", Model.Stats)
    }
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-controller="Stats" asp-action="Create" asp-route-id="@Model.Id">Add Player Stats</a> @:|
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> @:| 
    }
    <a asp-action="Index">Back to List</a>
</div>
