@inject SignInManager<ApplicationUser> SignInManager

@model Ultimates_Cricket.Models.Player

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Players</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd>
            <img src="@Model.Photo" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BattingAverage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BattingAverage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CatchesTaken)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CatchesTaken)
        </dd>
    </dl>
</div>
<div>
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> @:|
    }
    <a asp-action="Index">Back to List</a>
</div>
