@model Ultimates_Cricket.Models.Player

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Players</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd>
            @*<img src='@Url.Action("GetImage", "Players", new { id = Model.Photo })' />*@
            <img src="~/images/person.jpg" />
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt>
            Batting Average
        </dt>
        <dd>
            50.00
        </dd>
        <dt>
            Catches Taken
        </dt>
        <dd>
            11
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
